<div class="login-form container">
    <div class="top-text container">accedi al tuo ambiente di lavoro</div>
    <form class="form" action="">
        <div class="inputs container">
            <input class="username login-text" type="text" placeholder="username" name="username" required>
            <input class="domain login-text" type="text" placeholder="domain" name="domain">
            <input class="password login-text" type="text" placeholder="password" name="password" required>
        </div>
        
        <div class="buttons container">
            <input class="help button" type="image" src="assets/img/help-button.svg">
            <input class="enter button" type="image" src="assets/img/enter-button.svg">
        </div>
    </form>
</div>