<div class="app container">
    <div class="slideshow container">
        <app-slideshow [imgSrc]="'assets/img/imgSlide1.jpg'"></app-slideshow>
    </div>
    <div class="top logo-panel container">
        <app-logo-panel
            [backgroundColor]="'rgb(153, 203, 255)'"
            [logos]="['assets/img/snap-logo.svg']"
        ></app-logo-panel>
    </div>
    <div class="login-form container">
        <app-login-form></app-login-form>
    </div>
    <div class="bottom logo-panel container">
        <app-logo-panel
            [backgroundColor]="'rgb(153, 203, 255)'"
            [logos]="['assets/img/arch-logo.svg', 'assets/img/samsung-logo.svg']"
        ></app-logo-panel>
    </div>
</div>
